* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
}
.logoo {
  width: 100px;
}
.container {
  max-width: 1475px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  flex-wrap: wrap;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 43px;
  flex-wrap: wrap;
}
header {
  background-color: #0a22f4;
  height: 387.56px;
}

nav a {
  color: white;
  font-size: 16px;
}
button {
  width: 160px;
  height: 55px;
  opacity: 1;
  border-radius: 28px;
}

.cover {
  max-width: 1195px;
  width: 100%;
  margin: 0 auto;
}

section h1 {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.allphoto {
  /* width: 219px;
  height: 219px; */
  max-width: 1475px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  gap: 25px;
  flex-wrap: wrap;
}

.paragraph {
  max-width: 951px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 60px;
}
.coverphoto {
  margin-top: -180px;
}
.additional {
  max-width: 341px;
  width: 100%;
  height: 55px;
  border-radius: 28px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 58px;
}
.additional > button {
  max-width: 341px;
  width: 100%;
  height: 55px;
  background-color: blue;
  color: white;
  font-size: 16px;
}
footer {
  background-color: #0a22f4;
  margin-top: 150px;
  padding-top: 275px;
  padding-bottom: 100px;
  color: white;
}
footer h1 {
  font-size: 32px;
}
footer p {
  width: 463px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 26px;
}
.forms {
  display: flex;
  display: inline-block;
}
.form-row {
  padding-block: 40px;
}
.form {
  display: flex;
}

.form-row label {
  display: flex;
  font-size: 16px;
}
.form-row input {
  font-size: 16px;
  width: 463px;
  background-color: #0a22f4;
  border-top: #0a22f4;
  border-right: #0a22f4;
  border-left: #0a22f4;
  opacity: 0.3px;
}
textarea {
  width: 463px;
  background-color: #0a22f4;
  border-top: #0a22f4;
  border-right: #0a22f4;
  border-left: #0a22f4;
  opacity: 0.3px;
  margin-top: 58px;
}

.img1 {
  width: 26px;
  height: 26px;
  display: flex;
  margin-right: 10px;
}
.img2 {
  width: 121px;
  height: 35px;
  display: inline-block;
  margin-left: 30px;
}
button {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 151px;
  height: 55px;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 40px;
  max-width: 463px;
  text-align: center;
}

h5 {
  display: flex;
  margin-right: 15px;
}
.footergrid {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
footer iframe {
  margin-top: 58px;
  width: 463px;
  height: 197px;
}
footer a {
  margin: 92px;
  color: white;
  display: flex;
  justify-content: space-between;
}
footer ul {
  display: flex;
}
.telpng {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70px;
  height: 70px;
  background-color: white;
}
.telpng > img {
  width: 26px;
  height: 26px;
}
.mailpng {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70px;
  height: 70px;
  background-color: white;
}
.mailpng > img {
  width: 26px;
  height: 26px;
}
.telbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.mailbox {
  width: 100%;
  display: flex;
  align-items: center;
}
.teltext .mailtext {
  font-size: 22px;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.rightcorner {
  display: flex;
  align-items: center;
}
.leftcorner {
  display: flex;

  align-items: center;
}
.lastline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 87px;
  margin-bottom: 40px;
}
/* < 768 mobile */
/* 768 < n < 1024 tablets */
/* 1024 < desktop */
/* @media(max-width: 1024px){ */

@media (width < 1024px) {
  .container {
    max-width: 334px;
    width: 100%;
  }
  .cover {
    max-width: 334px;
    width: 100%;
  }
  .cover h1 {
    font-size: 18px;
  }
  .allphoto {
    gap: 10px;
    grid-template-columns: 2fr;
  }

  .header nav {
    display: none;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .forms {
    order: -1;
  }
}
